@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "Poppins";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Poppins";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 12px;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  position: relative;
  padding-top: 40px;
  min-height: 1514px;
}

.header__page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header__head {
  position: relative;
}

.header__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_link {
  line-height: 18px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.head__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.head__logo a img {
  max-width: 100%;
}

.head__logo:hover {
  cursor: pointer;
}

.head__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 58.86571%;
          flex: 0 1 58.86571%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__user a {
  padding: 15px 28px;
}

.head__user a:hover {
  color: yellow;
  border: 2px solid yellow;
  border-radius: 100px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  padding: 16px 24px;
}

.menu__item a {
  line-height: 18px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.menu__item a:hover {
  -webkit-text-decoration: 2px underline white;
          text-decoration: 2px underline white;
}

.header__hero {
  position: relative;
  top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.hero__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  font-size: 106px;
  line-height: 130%;
  color: #F4F4F4;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.hero__sub-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #CEFFFD;
  margin-bottom: 72px;
}

._no-webp .hero__btn span {
  background: #FFD703 url("../img/head/Get_file.png") right 0px/30% no-repeat; }

.hero__btn span {
  padding: 0px 45px 0px 0px;
}

.hero__play {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 499px;
          flex: 1 1 499px;
  height: 499px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 0px;
}

.hero__play__video {
  width: 134px;
  height: 134px;
  border-radius: 50%;
}

.hero__circle01 {
  position: absolute;
  width: 313px;
  height: 313px;
  border-radius: 50%;
  top: center;
  left: center;
  opacity: 0.2;
  border: 2px solid #FFFFFF;
}

.hero__circle02 {
  position: absolute;
  width: 497px;
  height: 497px;
  border-radius: 50%;
  top: center;
  left: center;
  opacity: 0.2;
  border: 2px solid #FFFFFF;
}

.btn {
  font-size: 22px;
  line-height: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #2C2C2C;
  background: #FFD703;
  border-radius: 2000px;
  padding: 23px 72px;
}

.header-how {
  position: relative;
  top: 320px;
}

.how__header {
  margin-bottom: 32px;
}

.how__title {
  font-size: 60px;
  line-height: 90px;
  color: #F4F4F4;
}

.how__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.how__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
  padding: 32px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
}

.how__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.how__icon {
  width: 76px;
  height: 88px;
}

.how__icon img {
  max-width: 100%;
  border: 2px solid white;
  -webkit-box-shadow: -5px -10px 4px 5px  white;
          box-shadow: -5px -10px 4px 5px  white;
}

.how__label {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.25px;
  color: #F4F4F4;
  margin-bottom: 8px;
}

.how__sub-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #CEFFFD;
}

.footer {
  background: #0B514D;
  min-height: 315px;
  padding: 40px 0px;
}

.footer__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E5EDF5;
  margin-bottom: 32px;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 960px;
          flex: 0 1 960px;
  margin-right: 50px;
}

.footer__column {
  margin-bottom: 32px;
}

.footer__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #F4F4F4;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.footer__list li {
  margin-bottom: 8px;
}

.footer__list li a {
  line-height: 18px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #38B7AF;
}

.footer__list li li:last-child {
  margin-bottom: 0px;
}

.footer .footer__news {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .news-footer {
  position: relative;
}

.footer .news__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #F4F4F4;
  margin-bottom: 2px;
}

.footer .news__sub-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #CEFFFD;
  margin-bottom: 16px;
}

.footer .news__label {
  line-height: 18px;
  margin-bottom: 15px;
  color: white;
}

.footer .news__input {
  width: 312px;
  height: 50px;
  padding-left: 34px;
  border-radius: 2000px;
}

.footer .link__news {
  position: absolute;
  right: 0px;
  bottom: 28px;
  width: 166px;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFD703;
  padding: 13px 0px;
  padding-left: 40px;
  border: 2px solid #FFD703;
  border-radius: 100px;
  cursor: pointer;
}

._no-webp .footer .link__news::after {
  background: url(../img/footer/Flash.png) center/100% no-repeat; }

.footer .link__news::after {
  content: " ";
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: block;
  margin-top: -24px;
  margin-left: 55px;
}

.footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 319px;
          flex: 0 1 319px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link li a {
  line-height: 18px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #38B7AF;
}

.footer__sign {
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #3FC2BB;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._content {
  max-width: 1534px;
  margin: 0px auto;
  padding: 0px 15px;
}

.block-testim {
  padding: 240px 0px;
}

.testim__header {
  margin-bottom: 32px;
}

.testim__title {
  font-size: 60px;
  line-height: 90px;
  color: #373737;
}

.testim__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.testim__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
  padding: 48px 0px;
}

.testim__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #707070;
}

.user-testim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.user__foto {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  margin-right: 26px;
}

.user__name {
  font-size: 32px;
  line-height: 48px;
  color: #373737;
}

.user__prof {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3FC2BB;
}

.block-features {
  margin-bottom: 215px;
}

.features__head {
  margin-bottom: 96px;
}

.features__label {
  font-size: 60px;
  line-height: 90px;
  color: #373737;
}

.features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 480px;
          flex: 0 1 480px;
  margin-bottom: 96px;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__icon {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 116px;
          flex: 1 0 116px;
  height: 116px;
  margin-right: 30px;
}

.features__icon img {
  max-width: 100%;
}

.features__info {
  padding-right: 15px;
}

.features__title {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0.25px;
  color: #FFD84E;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.features__sub-title {
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #707070;
}

.features__title_red {
  color: #FB6363;
}

.features__title_violet {
  color: #A66DF5;
}

.features__title_green {
  color: #6DD6B0;
}

.features__title_blue {
  color: #708CF0;
}

.features__title_brown {
  color: #A02E8E;
}

.block-team {
  margin-bottom: 240px;
}

.team__head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 96px;
}

.team__title {
  font-size: 60px;
  line-height: 90px;
  color: #373737;
  margin-bottom: 17px;
}

.team__sub-title {
  width: 829px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #707070;
}

.team__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__card {
  width: 352px;
  height: 487px;
}

.team__foto {
  position: relative;
  width: 352px;
  height: 434px;
}

.team__foto img {
  max-width: 100%;
}

.team__about {
  position: absolute;
  top: 329px;
  left: 40px;
  width: 272px;
  min-height: 158px;
  background: rgba(241, 241, 241, 0.9);
  border-radius: 30px;
  padding: 16px 33px;
  z-index: 5;
}

.team__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #373737;
  margin-bottom: 4px;
}

.team__prof {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #3FC2BB;
  margin-bottom: 16px;
}

.team__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__icon a {
  width: 46px;
  height: 46px;
}

.team__icon a img {
  max-width: 100%;
}

.btn_team {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

._webp .hero__btn span { background: #FFD703 url(../img/head/Get_file.webp) right 0px/30% no-repeat; }

._webp .footer .link__news::after { background: url(../img/footer/Flash.webp) center/100% no-repeat; }